:root {
    /* dimensioni del font base 10px per facilitare l'use rem/em */
    font-size: 62.5%;

    /* variabili colori personalizzate */
    --bg-color: #0A0F2C;
    --bg-card: #1A237E;

    --color: #f0f4ffeb;

    --link: rgb(0 0 0);
    --hover: #64B5F6;


    --title: #2979FF;

    --tx-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    --ombreBordi: 2px 3px 3px rgba(33, 150, 243, 0.3);
}

/* azzero margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PARTO CON LA CREAZIONE DEL LAYOUT PER DISPOSITIVI MOBILI */


/* rendo il body un grid container responsive  */
body {
    position: relative;

    width: 100%;
    min-height: 100vh;
    /* occupa tutta la pagina visualizzata */
    font-size: 1.7rem;
    padding: 0.5em;

    display: grid;
    grid-template-columns: 1fr;

    background-color: var(--bg-color);
    color: var(--color);

    cursor: default;
}

/* header contenente il titolo e i filtri della galleria, lo rendo un flex container */
header#titolo {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 100%;
}

/* titolo */
header#titolo>div#boxTitle>h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;

    padding: 0.5em;

    color: var(--title);
    text-shadow: var(--tx-shadow);
}

/* filtri per le categorie */
header#titolo>nav>ul.filtri {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

/* do uno stile ai pulsanti */
header#titolo>nav>ul.filtri>li>button {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    border-radius: 12px;
    border: 1px solid transparent;
    padding: 0.2em;

    background-color: var(--bg-color);
    color: var(--color);
    box-shadow: var(--ombreBordi);
}





/* main contenente la galleria con le foto, lo rendo un flex container */
main#corpoGallery {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
}

/* sottotitolo */
main#corpoGallery>h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;

    padding: 0.5em;

    color: var(--title);
    text-shadow: var(--tx-shadow);
}

/* sezione della galleria con foto la rendo un flex container*/
main#corpoGallery>section#grigliaFotoFlex {
    width: 100%;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

/* griglia card foto */
main#corpoGallery>section#grigliaFotoFlex>div#insieme {
    width: 100%;
    max-height: 70vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2em;
    overflow: auto;

    padding: 0.5em 0;
}

/* do uno stile comune a tutte le card */
div#insieme>div.card {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;

    background: linear-gradient(145deg, #1A237E, #0F195A);
    border-radius: 10px;
}

div#insieme>div.card img {
    width: 100%;

    border-radius: 1rem;
}

/* pie di pagina */
footer#piePag {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    font-size: 0.9em;
}